@import "partials/normalize";

// Variables
$fiveRatingColor: #305D02;
$fourRatingColor: #5BA729;
$threeRatingColor: #CDD614;
$twoRatingColor: #FF7800;
$oneRatingColor:#D2202D;
$noRatingColor: #7E8082;

$briefColorMain: #3D3D3D;
$briefColorSecondary:#B87562;
$briefColorTert:#E9F2EA;
$briefColorQuat:#FAF9F7;

$typogHeader: 'Open Sans', sans-serif;
$typogContent: 'Roboto', sans-serif;

// global
html {
	font-size: 62.5%;
}

body {
	background-color: $briefColorTert;
	font-family: $typogContent;
}

a{
	color: $briefColorSecondary;
	text-decoration: none;
	&:hover{
		color: $briefColorMain;
	}
}

header{
	background-image: url("../../images/hero.jpg");
	background-size: cover;
	background-position: top;
	min-height: 100vh;
	width:100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-item:center;
	text-align: center;
	background-color: $briefColorTert;
	padding:50px 0 0 0;
	h1{
		width:100%;
		// margin:0;
		font-family: $typogHeader;
		color: $briefColorMain;
		letter-spacing: 2.5px;
		margin-top:-10px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 4rem;
	}
}

h2 {
	font-size: 2.8rem;
	margin:5px 0 15px 0;
	font-family: $typogHeader;
	color: $briefColorSecondary;
}


h3{
	font-family: $typogHeader;
}

h4{
	color:$briefColorSecondary;	
}


section{
	padding: 30px 0;
	background-color: $briefColorTert;
	font-size: 1.5rem;
	min-height: 100vh;
	display:none;
}

input {
	outline:none;
	text-shadow:none;
	border:none;
	box-shadow:none;
	// color:transparent;
}

footer{
	background-color: $briefColorMain;
	color: $briefColorTert;
	text-align:center;
	font-size: 1.5rem;
	padding: 10px 0;
	a{
		color: #ffc5b5;
		text-decoration: none;
		&:hover{
			color: $briefColorSecondary;
		}
	}
}

form{
	width:80%;
	margin:0 auto;
}

svg {
	fill:$briefColorSecondary;
	width: 100%;
}

ul {
	list-style: none;
}

.button {
	outline:none;
	text-shadow:none;
	border:none;
	box-shadow:none;
	padding:8px;
	font-family: $typogHeader;
	font-size: 1.8rem;
	background-color:$briefColorSecondary;
	color: $briefColorQuat;
}

.button__next{
	padding:15px;

}

.wrapper{
	width: 95%;
	margin:0 auto;
}

#loadingDirections, #loadingMap {
	text-align: center;
	margin: 0 auto;
}


// header specific
.headerWrapper{
	background: rgba(233, 242, 234, 0.7);
	border: 2px solid white;
	padding: 20px;
	margin: 60px;
}

.tagline{
	font-family: $typogContent;
	color: #3D3D3D;
	font-size: 1.5rem;
	font-style: italic;
	margin:10px 0 30px 0;
}

//dictates size of SVG
.svgWrapper{
	width:12%;
	margin: 0 auto;
}

.input__textbox {
	color: $briefColorMain;
	font-size: 2rem;
	padding: 4px;
}

.input__submit{
	width:60%;
	padding:10px;
	margin: 20px;
	font-family: $typogContent;
	font-size: 2.5rem;
	background-color:$briefColorSecondary;
	color: $briefColorQuat;
}

#inputRating{
	margin-top:20px;
	width:60%;
}

//map restaurant specific

.userInput{
	font-size: 2rem;
	color: $briefColorMain;
	font-family: $typogContent;
}

.userInfoResults{
	display: flex;
}

.restaurantCard{
	background-color: $briefColorQuat;
	color: $briefColorMain;
	font-family: $typogContent;
	margin:0 0 0 20px;
	font-size: 1.8rem;
	display: flex;
	flex-direction:column;
	justify-content:center;
}

.restaurantCard i {
	font-size: 2.5rem;
}

.restaurantCard img {
	display: flex;
	justify-content:center;
	align-items:center;
	margin:auto;
	width: 90%;
}

.mapCanvas {
	width: 50%;
	min-height: 80vh;
	border:2px solid $briefColorSecondary;
}

#infoRestaurant{
	width:50%;
	padding: 20px;
}

//directions specific

#directions{
	font-family: $typogContent;
}

#location{
	width:100%;
}

// #listFiveRestos li{
// 	border:2px solid red;
// 	width:90%;
// 	margin:0 auto;
// }

// #map_wrapper {
// 	height: 400px;
// 	border:2px solid red;
// }


//loading animation
$animationLength: 1s;
$dotSize: 10px;
$dotScale: 1.2;

.dot {
	display: inline-block;
	width: $dotSize;
	height: $dotSize;
	border-radius: $dotSize * 0.5;
	margin: 10px;
}

.dot_1 {
	animation: animateDot1 $animationLength linear infinite;
	animation-direction: alternate;
}

.dot_2 {
	animation: animateDot2 $animationLength linear infinite;
	animation-delay: $animationLength / 12;
	animation-direction: alternate;
}

.dot_3 {
	animation: animateDot3 $animationLength linear infinite;
	animation-delay: $animationLength / 6;  
	animation-direction: alternate;
}

.dot_4 {
	animation: animateDot4 $animationLength linear infinite;
	animation-delay: $animationLength / 3;
	animation-direction: alternate;
}

@keyframes animateDot1 {
	0% {background-color: $briefColorMain;}
	100% {background-color: $briefColorSecondary; transform: scale($dotScale)}
}

@keyframes animateDot2 {
	0% {background-color: $briefColorMain;}
	100% {background-color: $briefColorSecondary; transform: scale($dotScale)}
}

@keyframes animateDot3 {
	0% {background-color: $briefColorMain;}
	100% {background-color: $briefColorSecondary; transform: scale($dotScale)}
}

@keyframes animateDot4 {
	0% {background-color: $briefColorMain;}
	100% {background-color: $briefColorSecondary; transform: scale($dotScale)}
}
